header {
    background-color: #F8F9FA;
}
.navbar {
    display: flex;
    z-index: 1;
}
.cart {
    justify-content: flex-end;
}
.navbar .logo {
    display: flex;
    align-items: center;
    margin-right: .4rem;
}
.navbar .logo a{
    font-size: 1.25rem;
    color: #181819;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
ul li {
    display: inline-block;
    position: relative;
    border-radius: 4px;
}
ul li a:hover {
    color: #212529;
    background-color: #F8F9FA;;
}
ul li a {
    display: block;
    padding: 1rem;
    color: #707071;
    transition: .2s;
    padding-right: 0;
}
.dropdown {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: none;
    width: 8rem;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    background-color: #fff;
}
.dropdown li {
    display: block;
}
ul li:hover ul.dropdown {
    display: block;
}
.dropdown-line {
    border-bottom:1px solid #D2D2D2;
    margin: .5rem 0;
}
.btn {
    border: 1px solid #000;
    border-radius: 6px;
    padding: 0.5rem .75rem;
    margin: .5rem 0;
    transition: .2s;
    cursor: pointer;
}
button.menu {
    display: none;
    border: 1px solid #9aa1a7;
    border-radius: 6px;
    padding: 0.5rem .75rem;
    margin: .5rem 0;
    transition: .2s;
    cursor: pointer;
}
.cart .btn span {
    border-radius:20px;
    padding: 0 .35rem;
    margin-left: .25rem;
    background-color: #212529;
    color: #fff;
}
.btn:hover {
    background-color: #212529;
    color:#fff;
}
main {
    padding: 5rem 0;
}
.template-image {
    padding-right: 2rem ;
    width: 100%;
    display: block;
}
.template-image img {
    width: 100%;
}
.template-item {
    padding-left: 2rem;
    align-items: center;
}
.small-text {
    font-size: .8rem;
}
.template-item h1 {
    font-size: 2.5rem;
    padding: .5rem 0;
}
.cost {
    padding-bottom: 3rem;
}
.discount {
    text-decoration-line: line-through;
    padding: .5rem 0;
}
.template-item p {
    font-size: 1.165rem;
    line-height: 1.75rem;
    font-weight: 200;
    padding: 1rem 0;
}
.template-item input {
    border: 1px solid #9aa1a7;
    border-radius: 4px;
    max-width: 3rem;
    padding: .5rem;
    margin-right: 1rem;
    outline:none;
}
.template-item input:focus {
    border-radius: 5px 5px 0 #000;
}
.products {
    max-height: 100%;
    padding-right: 2rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    max-height: 100%;
}
.products-item {

    display: flex;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: space-between;
}
.item-info {
    padding: 1rem 0;
}
.rel {
    padding: 2rem 0;
}

.badge {
    position: absolute;
    z-index: 1;
    top: .5rem;
    right: .5rem;
    padding: .35rem;
    font-size: .75rem;
    background-color: #000;
    border-radius: 8px;
}
.products_footer {
    align-items: flex-end;
    padding: 1.5rem;
    padding-top: 1rem;
}

.products_footer a {
    color: #181819;
}
footer {
    margin-top: 3rem;
    background-color: #212529;
}
footer p {
    padding: 3rem 0;
}
@media (max-width:1024px) {
    .container {
        width: 85%;
        margin: 0 7.5%;
    }
    ul li a {
        padding: .4rem;
    }
    .template-image {
        padding-right: 1rem;
    }
    .template-item {
        padding-left: 1rem;
    }
    .template-item h1 {
        font-size: 2rem;
        padding: .4rem 0;
    }
    .template-item p {
        font-size: .9rem;
        line-height: 1.5rem;
        padding: .85rem 0;
    }
    .cost {
        padding-bottom: 2.5rem;
    }
}
@media (max-width: 768px) {
    button.menu {
        display: inline-block;
    }
    .navbar ul, .navbar .btn {
        display: none;
    }
    .container {
        width: 90%;
        margin: 0 5%;
    }
    .template-image {
        padding-right: .5rem;
    }
    .template-item {
        padding-left: .5rem;
    }
    .template-item h1 {
        font-size: 1.7rem;
        padding: .25rem 0;
    }
    .template-item p {
        font-size: .7rem;
        line-height: 1.25rem;
        padding: .75rem 0;
    }
    .cost {
        padding-bottom: 1rem;
    }
}
@media (max-width: 480px) {
    button.menu span{
        display: none;
    }
    .template-image {
        padding-right: 0;
    }
    .template-item {
        padding-top: 5rem;
        padding-left: 0;
    }
    .template-item h1 {
        font-size: 2rem;
        padding: .25rem 0;
    }
    .template-item p {
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 200;
        padding-bottom: 2rem;
    }
    .cost {
        padding-bottom: 1rem;
    }
    .products {
        padding-right: 0;
        margin-bottom: 1.5rem;
    }
}